{% extends 'home/base.html' %}

{% block content %}
<h1 style="display: inline-block;"><b>Recommended candidates</b></h1>
<ul>
    <form action="{% url 'projects:candidate-recommendations' %}" method="get">
        <input name="q" type="text" placeholder="Search by domain,team,dept...">
        <input type="submit" value="Search"/>
    </form>
{% for candidate in object_list %}
{% if forloop.first %}<div class="row">{% endif %}
    <div class="container">
        <div class="row" style="text-align: justify;">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
             <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>Name : {{ candidate.get_full_name }}</h2>
                        <p><strong>Department : </strong> {{ candidate.department }} </p>
                        <p><strong>Year : </strong> {{ candidate.year }} </p>
                        <p><strong>Bio : </strong>{{ candidate.bio }}</p>
                        <p><strong>CGPA : </strong> {{ candidate.cgpa }} </p>
                        <li><b>Areas of Interest : <br></b> 
                            {% for interest in candidate.get_areas_of_interest %}
                                <span class="label label-success">{{ interest }}</span>
                            {% endfor %}
                            </li>
                        </p>
                    </div>             
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src="{{ candidate.photo.url }}" alt="" class="img-circle img-responsive">
                            <figcaption class="ratings">
                                <p>Innovation Index : 8/10 <br>
                            
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>            
             </div>                 
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% empty %}
    <li>No candidates yet.</li>
{% endfor %}
</ul>
{% endblock %}