{% extends 'home/base.html' %}


{% block content %}
<h1>About us</h1>
<div class="jumbotron" style="font-weight: bolder;text-align: justify;padding: 100px;">
    <li>At Innovation at NIT-T , we have a straight forward motivation to increase the innovation index of the students of our campus. We provide them a user friendly platform to come across all the available opportunites for them to work under faculties from different domains. We believe that the accurate comparative stats we provide regarding the departments and  </li>
    <li>We are team Ensemble. We believe that there is a lot of potential in us,which only needs to be tapped the right way.</li>
</div>

{% endblock %}