{% extends 'home/base.html' %}


{% block content %}
<h1>About us</h1>
<div class="jumbotron">
    <li>At Innovation at NIT-T , we have a straight forward motivation to increase the innovation index of the students of our campus. We provide them a user friendly platform to come across all the available opportunites for them to work under faculties from different domains. </li>
    <li>We are team Ensemble.</li>
    <li>We are team Ensemble.</li>
    <li>We are team Ensemble.</li>
    <li>We are team Ensemble.</li>

</div>

{% endblock %}