{% extends 'home/base.html' %}


{% block content %}
<h1>Terms & Conditions</h1>
<p class="alert alert-danger">Kindly read the terms and conditions carefully before applying.</p>

<div class="jumbotron" style="font-weight: bolder;padding: 100px;text-align: justify;">
    <li>If you have applied for an internship or project or research on Innovation At NIT-T and receive a communication from Innovation At NIT-T regarding your application, you must respond to it with-in 72 hours.
    </li>
    <li>Once you accept a offer, you must make every possible effort to join and start the offered work on time. To not show up or to decline an earlier accepted offers at the last moment, or to go incommunicado creates a very poor impression of you in front of the Professors and reduces the credibility of the Applicant community at large. Any such behaviour will cause blackmarking of your profile .Such behaviour for the first time will be excused if there is a valid reason and for the futher times will result in account being temporarily blocked/suspended for next three month on Innovation At NIT-T.
    </li>
    <li>You must provide accurate and complete information at the time of application or creating an account on Innovation At NIT-T – any misrepresentation of information, or hiding of material information, or impersonation would result in your account being blocked on the site.
    </li>
    <li>While we make our best efforts to bring you the best research or project or internship opportunities possible, Innovation At NIT-T does not guarantee any offers to a student.
    </li>
    <li>Upon registration, your registered email id and phone number will be automatically subscribed to receive email and SMS notifications from Innovation At NIT-T.
    </li>
</div>

{% endblock %}