{% extends 'home/base.html' %}


{% block content %}
<h1>Terms & Conditions</h1>
<div class="jumbotron">
    <li>Kindly read the terms and conditions properly before applying.</li>
    <li>Kindly read the terms and conditions properly before applying.</li>
    <li>Kindly read the terms and conditions properly before applying.</li>
    <li>Kindly read the terms and conditions properly before applying.</li>
    <li>Kindly read the terms and conditions properly before applying.</li>

</div>

{% endblock %}