{% extends 'home/base.html' %}


{% block content %}
<form id="form1" class="form" action="">
    <div class="form-group" style="display: inline;">
        <label for="dept1">DEPT 1</label>
        <select id="dept1" name="dept1">
            <option>CHEM</a></option>
            <option>CIVIL</a></option>
            <option>CSE</a></option>  
            <option>ECE</a></option>  
            <option>EEE</a></option>
            <option>ICE</a></option>
            <option>MECH</a></option>
            <option>META</a></option>
            <option>PROD</a></option>
            <option>CHEM</a></option>
        </select>
    </div>
    <div class="form-group" style="display: inline;">
    <label for="dep2">DEPT 2</label>
    <select id="dept2" name="dep2">
        <option >CHEM</a></option>
        <option selected>CIVIL</a></option>
        <option>CSE</a></option>  
        <option>ECE</a></option>  
        <option>EEE</a></option>
        <option>ICE</a></option>
        <option>MECH</a></option>
        <option>META</a></option>
        <option>PROD</a></option>
        <option>CHEM</a></option>
    </select> <br>
    <!-- <input type="submit" value="COMPARE"/> -->
    </div>
</form>
<button id="compare">COMPARE</button>
<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
<center id="plots" style="visibility: hidden;">
    <div style="width: 1000px;height: 300px;" id='num_of_papers'><!-- Plotly chart will be drawn inside this DIV --></div>
    <div style="width: 1000px;height: 300px;" id='num_of_citations'><!-- Plotly chart will be drawn inside this DIV --></div>
    <div style="width: 1000px;height: 300px;" id='acp'><!-- Plotly chart will be drawn inside this DIV --></div>
    <div style="width: 1000px;height: 300px;" id='icp'><!-- Plotly chart will be drawn inside this DIV --></div>
</center>
</body>

<script>
$(document).ready(function(){
    $("#compare").click(function(){
        $("#plots").css('visibility', 'visible');
    });

    var trace1 = {
  x: [1, 2, 3, 4],
  y: [10, 15, 13, 17],
  name : $("#dept1").val(),
  type: 'scatter'
};

var trace2 = {
  x: [1, 2, 3, 4],
  y: [16, 5, 11, 9],
  name : $("#dept2").val(),
  type: 'scatter'
};

var layout = {
  title: {
    text:'No. of papers published over the years',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  xaxis: {
    title: {
      text: 'Year',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'No. of papers',
      font: {
        family: 'Courier New, monospace',
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};

var layoutCitations = {
title: {
    text:'No. of citations over the years',
    font: { family: 'Courier New, monospace',size: 24 },
    xref: 'paper',x: 0.05,
  },
  xaxis: {
    title: { text: 'Year',
      font: {
        family: 'Courier New, monospace',
        size: 18, color: '#7f7f7f' }},},
  yaxis: {
    title: {
      text: 'No. of Citations',
      font: {family: 'Courier New, monospace',size: 18,color: '#7f7f7f'}
    }
  }
};

var data = [trace1, trace2];

Plotly.newPlot('num_of_papers', data,layout);
Plotly.newPlot('num_of_citations', data,layoutCitations);
Plotly.newPlot('acp', data,layout);
Plotly.newPlot('icp', data,layout);
});

</script>
{% endblock %}