{% extends 'home/base.html' %}

{% block content %}
<nav class="navbar-nav" >
    <ul style="background-color: rgb(6, 6, 99);">
        <li><a href="javascript:show_graphs('CHEM')">CHEM</a></li>
        <li><a href="javascript:show_graphs('CIVIL')">CIVIL</a></li>
        <li><a href="javascript:show_graphs('CSE')">CSE</a></li>  
        <li><a href="javascript:show_graphs('ECE')">ECE</a></li>  
        <li><a href="javascript:show_graphs('EEE')">EEE</a></li>
        <li><a href="javascript:show_graphs('ICE')">ICE</a></li>
        <li><a href="javascript:show_graphs('MECH')">MECH</a></li>
        <li><a href="javascript:show_graphs('META')">META</a></li>
        <li><a href="javascript:show_graphs('PROD')">PROD</a></li>
        <li style="background-color: red;"><a href="{% url 'stats:compare-departments' %}">COMPARE</a></li>
  </ul>
  <div id="dept_charts" style="visibility:invisible;">
    <h1 id="dept_name">Computer Science and Engineering dept</h1>
    {% include 'stats/cse.html' %}
  </div>
</nav>

<script>
$(document).ready(function(){
});
function show_graphs(dept){
        $("#dept_charts").css("visibility","visible");
        switch(dept){
            case "CHEM" : $("#dept_name").text("Chemical Engineering dept"); break;
            case "CIVIL" : $("#dept_name").text("Civil Engineering dept"); break;
            case "CSE" : $("#dept_name").text("Computer Science Engineering dept"); break;
            case "ECE" : $("#dept_name").text("Electronics and Communication Engineering dept"); break;
            case "EEE" : $("#dept_name").text("Electrical and Electronics Engineering dept"); break;
            case "ICE" : $("#dept_name").text("Instrumentation and Control Engineering dept"); break;
            case "MECH" : $("#dept_name").text("Mechanical Engineering dept"); break;
            case "META" : $("#dept_name").text("Metallurgical Engineering dept"); break;
            case "PROD" : $("#dept_name").text("Production Engineering dept"); break;
        }
}
</script>
{% endblock %}